

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  overflow: auto;
}
body{

  background-image: linear-gradient(to right,rgba(12, 12, 12, 0),rgb(4, 1, 1)) ;
}

.title{

  font-size: 70px;
  padding: 0px 0px 0px 20px;
    }

.logo{

  width: 500px;
  height: 320px;
}
.header{

  display: flex;
}

.login{

  display: flex;
  margin-left: 70%;
  padding: 20px 0px 0px 20px;
}

.log{

  margin-left: 30px;
}

.slogan{

  margin-left: 150px;
  margin-top: -15px;
}

.container2{

  display: flex;
  margin-top: 30px;
}

.para{

  margin-left: 7%;
}

#image{

  padding: 20px;
}

.title:hover{

  transform: scale(1.1);
  cursor: pointer;
  background-color: transparent;
  color: aliceblue;
}

.social{

  display: flex;
  margin-top: 500px;
  margin-left: -600px;

}

.facebook{

  display: flex;
  width: 70px;
  height: 70px;
}

.instagram{

  display: flex;
  width: 70px;
  height: 70px;
  margin-left: 150px;
}

.twitter{

  display: flex;
  width: 70px;
  height: 70px;
  margin-left: 150px;
}

.facebook:hover{

  transform: scale(1.2);
}

.instagram:hover{

  transform: scale(1.2);
}

.twitter:hover{

  transform: scale(1.2);
}